<!--loader block-->
<app-loader *ngIf="loading" [loadingMessage]="'Moving chart into position'"></app-loader>
<!--end of loader block-->

<!--error notifier block-->
<app-error-notifier *ngIf="hasError" [errorMessage]="erroMessage"></app-error-notifier>
<!--end of error notifier block-->
<div class="row" *ngIf="!loading && !hasError">

  <div class="col-md-12 chart-body" *ngFor="let chartObject of chartObjects; let i=index" [ngStyle]="{'height': chartData.details.cardHeight}">
    <div class="chart-block text-center" id="chartData.id" [ngStyle]="{'width': chartConfiguration.blockWidth}">
      <!--<div [ngStyle]="{'height': chartData.details.itemHeight}"  [ng2-highcharts]="chartObject"></div>-->
      <app-chart-block [ngStyle]="{'height': chartData.details.itemHeight, width: '100%'}" [renderId]="chartData.id + '_' + i" [chartObject]="chartObject" ></app-chart-block>
    </div>
    <div class="options-block" [ngStyle]="{'visibility': chartConfiguration.optionsVisibility}">
      <ul class="nav nav-stacked">
        <li *ngFor="let chartType of chartTypes">
          <a (click)="updateChartType(chartType.type, chartObject)" title="{{chartType.description}}"
             [ngClass]="'bar' == chartType.type ? 'active-type' : ''">
            <img [src]="chartType.icon" class="chart-option-icon" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
