<div *ngIf="authorities" class="panel panel-default">
  <div *ngIf="authorities.indexOf('M_dhis-web-dataentry') > -1 || authorities.indexOf('ALL') > -1" class="panel-body">
    <h4 class="card-title">Water Point</h4>
    <h6 class="card-subtitle text-muted">These are details of a Water Point</h6>
    <app-loader *ngIf="loading" [loadingMessage]="'Loading water point indicators into memory....'"></app-loader>
    <app-message *ngIf="loadingError && !loading" [type]="'danger'" [messageObject]="loadingError">
    </app-message>
    <div *ngIf="!loading && !loadingError">
      <form #form="ngForm" (ngSubmit)="save()">
        <div *ngIf="!loading">
          <button *ngIf="!readonly && !editing && (authorities.indexOf('ALL') > -1 || authorities.indexOf('F_DATAVALUE_ADD') > -1)" (click)="editing = true " class="btn btn-primary pull-right"><i
            class="fa fa-pencil"
            aria-hidden="true"></i>
            Edit
          </button>

          <div *ngIf="!readonly && editing" class="btn-group pull-right" role="group" aria-label="...">
            <button *ngIf="saveLoading" class="btn btn-success">
              Saving ...
            </button>
            <button *ngIf="!saveLoading" type="submit" class="btn btn-success"><i class="fa fa-save"
                                                                                  aria-hidden="true"></i> Save
            </button>
            <button (click)="cancel()" class="btn btn-danger"><i class="fa fa-cancel"
                                                                        aria-hidden="true"></i> Cancel
            </button>
          </div>
          <br/><br/>
        </div>
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Label</th>
            <th>Value</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Name <span *ngIf="editing" style="color:#a94442" role="alert">*</span></th>
            <td>
              <app-input [editing]="editing" [valueType]="'TEXT'" [valueAttribute]="'name'"
                         [objectRefference]="organisationUnit"></app-input>
              <div *ngIf="saveTriggered && organisationUnit.name == ''"
                   class="alert alert-danger" role="alert">
                Please enter the name.
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Code</th>
            <!--<td>RG1/LGA1/LG3/09</td>-->
            <td>{{organisationUnit.code}}</td>
          </tr>
          <tr>
            <th scope="row">Coordinate</th>
            <td>
              <app-coordinate [editing]="editing" [(objectRefference)]="organisationUnit"></app-coordinate>
            </td>
          </tr>
          <tr *ngFor="let attributeValue of organisationUnit.attributeValues | orderBy:'attribute.name'">
            <th scope="row">
              {{attributeValue.attribute.name}} <span *ngIf="attributeValue.attribute.name !='Old Code' && editing"
                                                      style="color:#a94442" role="alert">*</span>

            </th>
            <td>
              <app-input [editing]="editing" [attributeValue]="attributeValue"
                         [(objectRefference)]="organisationUnit"></app-input>
              <div *ngIf="saveTriggered && attributeValue.value=='' && attributeValue.attribute.name !='Old Code'"
                   class="alert alert-danger" role="alert">
                Please <span *ngIf="attributeValue.attribute.optionSet">select</span><span
                *ngIf="!attributeValue.attribute.optionSet">enter</span> {{attributeValue.attribute.name}}
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="editing" class="btn-group pull-right" role="group">
          <button *ngIf="saveLoading" class="btn btn-success">
            Saving ...
          </button>
          <button *ngIf="!saveLoading" type="submit" class="btn btn-success"><i class="fa fa-save"
                                                                                aria-hidden="true"></i> Save
          </button>
          <button (click)="cancel()" class="btn btn-danger"><i class="fa fa-times"
                                                                      aria-hidden="true"></i> Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="!loading && !loadingError" class="panel-body">
    <div *ngIf="organisationUnit.dataSets && (programs.indexOf('Water Points') > -1 || authorities.indexOf('ALL') > -1)" class="row">
      <div class="col-sm-12" *ngFor="let dataSet of organisationUnit.dataSets">
        <app-dataset [dataSet]="dataSet" [readonly]="readonly" [organisationUnit]="organisationUnit"></app-dataset>
      </div>
    </div>
  </div>
</div>
