<div class="map-legend-container row">
  <div class="legend-view-container col-lg-12 col-md-12 col-xs-12">
    <div class="row"></div>
    <div class="row" style="border-bottom: 1px solid #cccccc">
      <div class="col-lg-12 col-md-12 col-xs-12 legend-header">
        <div class="col-lg-1 col-md-1 col-xs-1 legend-draggable-icon" style="padding-right: 20px;padding-left: 5px;
" (click)="toggleTileLegendView()">
          <a><i class="fa fa-map-o" style="color:#000000;"></i></a>
        </div>
        <div class="col-lg-9 col-md-9 col-xs-9 class-container" style="cursor: pointer">
          <div class="header parent-inner-header" (click)="toggleTileLegendView()">
            <span>Base Maps </span>
          </div>
          <div class="body" [ngClass]="{hideLegend:!openTileLegend}">
            <div class="base-map-container">
              <table style="margin-top: 5px;">
                <tr *ngFor="let tileLegend of visualizationTileLayersLegends;let tileIndex = index;"
                    [ngClass]="{rowActive:tileLegend.active}"
                    (click)="changeTileLayer(tileLegend)">
                  <td>
                    <a class="map-tile-icons">
                      <img [src]="tileLegend.image"

                           style="width:50px;height:20px;border: 1px solid #CDD2D4;margin-bottom: 5px;"/>
                    </a>
                  </td>
                  <td style="font-weight: bold;font-size: 12px;">&nbsp;<a
                    class="map-tile-icons">{{tileLegend.label}}</a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-xs-1 eye-container">
          <a style="cursor: pointer" title="Pin legend" (click)="stickLegendContainer()"
          ><i
            class="fa fa-thumb-tack" [ngClass]="{pinned:!sticky}"></i></a>
        </div>
      </div>
    </div>
    <!--<div class="row" style="border-bottom: 1px solid #cccccc">-->
    <!--<div class="col-lg-12 col-md-12 col-xs-12 legend-header">-->
    <!--<div class="col-lg-1 col-md-1 col-xs-1 legend-draggable-icon" style="padding-right: 20px;padding-left: 5px;-->
    <!--">-->
    <!--<a><i class="fa fa-connectdevelop" style="color:#000000;"></i></a>-->
    <!--</div>-->
    <!--<div class="col-lg-9 col-md-9 col-xs-9 class-container" style="cursor: pointer">-->
    <!--<div class="header parent-inner-header">-->
    <!--<span>Boundaries </span>-->
    <!--</div>-->
    <!--<div class="body">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-lg-1 col-md-1 col-xs-1 eye-container">-->
    <!--<a style="color:#ffffff;"><i class="fa fa-eye"></i></a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="row" dnd-sortable-container [sortableData]="visualizationLegends">
      <div class="col-lg-12 col-md-12 col-xs-12 legend-header"
           *ngFor="let legend of visualizationLegends;let i = index;"
           style="border-bottom: 1px solid #cccccc;" dnd-sortable [sortableIndex]="i">
        <div class="col-lg-1 col-md-1 col-xs-1 legend-draggable-icon" style="padding-right: 20px;padding-left: 5px;
">
          <a><i class="fa fa-th" style="color:#000000;"></i></a>
        </div>
        <div class="col-lg-9 col-md-9 col-xs-9 class-container">
          <div class="header parent-inner-header" (click)="toggleLegendView(legend,i)">
            <span title="{{legend.name}} {{legend.description}}">{{shortenTitle(legend.name)}}</span>
          </div>
          <div class="body" [ngClass]="{hideLegend:!legend.opened}">
            <br/>
            <p>&nbsp;{{legend.description}}</p>
            <div *ngFor="let class of legend.classes">
              <table class="legend-table">
                <tr>
                  <td rowspan="2" *ngIf="!legend.isEvent"
                      [ngStyle]="{backgroundColor:class.color,width:'50px',height:'20px'}">&nbsp;</td>
                  <td rowspan="2" *ngIf="legend.isEvent"
                      [ngStyle]="{backgroundColor:class.color,width:(class.radius*5)+'px',height:(class.radius*5)+'px',borderRadius:(class.radius*5)+'px'}">
                    &nbsp;</td>
                  <td [ngStyle]="{fontSize:'12px',fontWeight:'bold'}">{{class.label}}</td>
                  <td></td>
                </tr>
                <tr>
                  <td [ngStyle]="{fontSize:'12px'}"><span *ngIf="class.min!=0 && class.max!=0">{{class.min}} - {{class.max}}</span><span>({{class.count}})</span>
                  </td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-xs-1 eye-container">
          <a style="color:#ffffff;"><i class="fa fa-eye"></i></a>
        </div>
      </div>
    </div>
    <div class="row"></div>
  </div>

</div>
