<div class="map-legend-container row">
  <div class="legend-view-container col-lg-12 col-md-12 col-xs-12">
    <div class="row"></div>
    <div class="row" style="border-bottom: 1px solid #cccccc" (mouseenter)="toggleRemoveButton()"
         (mouseleave)="toggleRemoveButton()">
      <div class="col-lg-12 col-md-12 col-xs-12 legend-header">
        <div class="col-lg-1 col-md-1 col-xs-1 legend-draggable-icon" style="padding-right: 20px;padding-left: 5px;
" (click)="toggleTileLegendView()">
          <a><i class="fa fa-map-o" style="color:#000000;"></i></a>
        </div>
        <div class="col-lg-7 col-md-7 col-xs-7 class-container" style="cursor: pointer">
          <div class="header parent-inner-header" (click)="toggleTileLegendView()">
            <span>Base Maps </span>
          </div>
          <div class="body" [ngClass]="{hideLegend:!openTileLegend}">
            <div class="base-map-container">

              <table class="tiles-table">
                <tr>
                  <td *ngIf="visualizationTileLayersLegends[0]">
                    <a class="map-tile-icons "
                       (click)="changeTileLayer(visualizationTileLayersLegends[0])">

                      <img [src]="visualizationTileLayersLegends[0].image"
                           [ngClass]="{rowActive:visualizationTileLayersLegends[0].active}"
                           style="width:30px;height:30px;border: 1px solid #CDD2D4;margin-bottom: 5px;"/>
                    </a>
                  </td>
                  <td *ngIf="visualizationTileLayersLegends[1]">
                    <a class="map-tile-icons" title="{{visualizationTileLayersLegends[1].label}}"
                       (click)="changeTileLayer(visualizationTileLayersLegends[1])">
                      <img [src]="visualizationTileLayersLegends[1].image"
                           [ngClass]="{rowActive:visualizationTileLayersLegends[1].active}"

                           style="width:30px;height:30px;border: 1px solid #CDD2D4;margin-bottom: 5px;"/>
                    </a>
                  </td>
                  <td *ngIf="visualizationTileLayersLegends[2]">
                    <a class="map-tile-icons" title="{{visualizationTileLayersLegends[2].label}}"
                       (click)="changeTileLayer(visualizationTileLayersLegends[2])">
                      <img [src]="visualizationTileLayersLegends[2].image"
                           [ngClass]="{rowActive:visualizationTileLayersLegends[2].active}"

                           style="width:30px;height:30px;border: 1px solid #CDD2D4;margin-bottom: 5px;"/>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td *ngIf="visualizationTileLayersLegends[3]">
                    <a class="map-tile-icons" title="{{visualizationTileLayersLegends[3].label}}"
                       (click)="changeTileLayer(visualizationTileLayersLegends[3])">
                      <img [src]="visualizationTileLayersLegends[3].image"
                           [ngClass]="{rowActive:visualizationTileLayersLegends[3].active}"

                           style="width:30px;height:30px;border: 1px solid #CDD2D4;margin-bottom: 5px;"/>
                    </a>
                  </td>
                  <td *ngIf="visualizationTileLayersLegends[4]">
                    <a class="map-tile-icons" title="{{visualizationTileLayersLegends[4].label}}"
                       (click)="changeTileLayer(visualizationTileLayersLegends[4])">
                      <img [src]="visualizationTileLayersLegends[4].image"
                           [ngClass]="{rowActive:visualizationTileLayersLegends[4].active}"

                           style="width:30px;height:30px;border: 1px solid #CDD2D4;margin-bottom: 5px;"/>
                    </a>
                  </td>
                  <td *ngIf="visualizationTileLayersLegends[5]">
                    <a class="map-tile-icons" title="{{visualizationTileLayersLegends[5].label}}"
                       (click)="changeTileLayer(visualizationTileLayersLegends[5])">
                      <img [src]="visualizationTileLayersLegends[5].image"
                           [ngClass]="{rowActive:visualizationTileLayersLegends[5].active}"

                           style="width:30px;height:30px;border: 1px solid #CDD2D4;margin-bottom: 5px;"/>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td *ngIf="visualizationTileLayersLegends[6]">
                    <a class="map-tile-icons" title="{{visualizationTileLayersLegends[6].label}}"
                       (click)="changeTileLayer(visualizationTileLayersLegends[6])">
                      <img [src]="visualizationTileLayersLegends[6].image"
                           [ngClass]="{rowActive:visualizationTileLayersLegends[6].active}"

                           style="width:30px;height:30px;border: 1px solid #CDD2D4;margin-bottom: 5px;"/>
                    </a>
                  </td>
                  <td *ngIf="visualizationTileLayersLegends[7]">
                    <a class="map-tile-icons" title="{{visualizationTileLayersLegends[7].label}}"
                       (click)="changeTileLayer(visualizationTileLayersLegends[7])">
                      <img [src]="visualizationTileLayersLegends[7].image"
                           [ngClass]="{rowActive:visualizationTileLayersLegends[7].active}"

                           style="width:30px;height:30px;border: 1px solid #CDD2D4;margin-bottom: 5px;"/>
                    </a>
                  </td>
                  <td *ngIf="visualizationTileLayersLegends[8]">
                    <a class="map-tile-icons" title="{{visualizationTileLayersLegends[8].label}}"
                       (click)="changeTileLayer(visualizationTileLayersLegends[8])">
                      <img [src]="visualizationTileLayersLegends[8].image"
                           [ngClass]="{rowActive:visualizationTileLayersLegends[8].active}"

                           style="width:30px;height:30px;border: 1px solid #CDD2D4;margin-bottom: 5px;"/>
                    </a>
                  </td>
                </tr>

              </table>
            </div>
          </div>
        </div>
        <!--(mouseleave)="toggleLegendContainerView()"-->
        <div class="col-lg-1 col-md-1 col-xs-1 eye-container" style="padding-right: 25px!important;">
          <a style="cursor: pointer" title="Pin Legend" (click)="stickLegendContainer()"
          ><i style="color: #ffffff;"
              class="fa fa-thumb-tack"></i></a>
        </div>
        <div class="col-lg-1 col-md-1 col-xs-1 eye-container" style="padding-right: 26px!important;">
          <a style="cursor: pointer" title="Remove Legend" (click)="removeLegendContainer()"
          ><i
            class="fa fa-remove" [ngClass]="{hide:!isRemovable}"></i></a>
          <a [ngClass]="{hide:isRemovable}">&nbsp;</a>
        </div>
      </div>
    </div>
    <div class="row" style="border-bottom: 1px solid #cccccc" *ngIf="boundaryLegend.length>0">
      <div class="col-lg-12 col-md-12 col-xs-12 legend-header">
        <div class="col-lg-1 col-md-1 col-xs-1 legend-draggable-icon" style="padding-right: 20px;padding-left: 5px;"
             (click)="toggleBoundaryLayer()">
          <a><i class="fa fa-connectdevelop" style="color:#000000;"></i></a>
        </div>
        <div class="col-lg-9 col-md-9 col-xs-9 class-container" style="cursor: pointer">
          <div class="header parent-inner-header" (click)="toggleBoundaryLayer()">
            <span>Boundaries</span>
          </div>
          <div class="body" *ngIf="toggleBoundary">
            <br/>
            <div *ngFor="let class of boundaryLegend[0].classes">
              <table class="legend-table">
                <tr>
                  <td rowspan="2" *ngIf="!boundaryLegend[0].isEvent"
                      [ngStyle]="{width:'50px',height:'20px'}">
                    <div [ngStyle]="{backgroundColor:class.color,width:'50px'}" style="height:2px!important;">
                      &nbsp;</div>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td [ngStyle]="{fontSize:'12px'}"><span *ngIf="class.name">{{class.name}}</span><span>({{class.count}})</span>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-xs-1 eye-container">
          <a (click)="toggleLayerView(boundaryLegend[0],'boundary')" *ngIf="!boundaryLegend[0].hidden"
             style="margin-left:-6px!important;"><i
            class="fa fa-eye"></i></a>
          <a (click)="toggleLayerView(boundaryLegend[0],'boundary')" *ngIf="boundaryLegend[0].hidden"
             style="margin-left:-6px!important;color:#000000;"><i class="fa fa-eye-slash"></i></a>
        </div>
      </div>
    </div>
    <div class="row" dnd-sortable-container [sortableData]="visualizationLegends">
      <div class="col-lg-12 col-md-12 col-xs-12 legend-header"
           *ngFor="let legend of visualizationLegends;let i = index;"
           style="border-bottom: 1px solid #cccccc;" dnd-sortable [sortableIndex]="i">
        <div class="col-lg-1 col-md-1 col-xs-1 legend-draggable-icon" style="padding-right: 20px;padding-left: 5px;
">
          <a><i class="fa fa-th" style="color:#000000;"></i></a>
        </div>
        <div class="col-lg-9 col-md-9 col-xs-9 class-container">
          <div class="header parent-inner-header" (click)="toggleLegendView(legend,i)">
            <span title="{{legend.name}} {{legend.description}}">{{shortenTitle(legend.name)}}</span>
          </div>
          <div class="body" [ngClass]="{hideLegend:!legend.opened}">
            <br/>
            <p>&nbsp;{{legend.description}}</p>
            <div *ngFor="let class of legend.classes">
              <table class="legend-table">
                <tr>
                  <td rowspan="2" *ngIf="!legend.isEvent"
                      [ngStyle]="{backgroundColor:class.color,width:'50px',height:'20px'}">&nbsp;</td>
                  <td rowspan="2" *ngIf="legend.isEvent"
                      [ngStyle]="{backgroundColor:class.color,width:(class.radius*5)+'px',height:(class.radius*5)+'px',borderRadius:(class.radius*5)+'px'}">
                    &nbsp;</td>
                  <td [ngStyle]="{fontSize:'12px',fontWeight:'bold'}">{{class.label}}</td>
                  <td></td>
                </tr>
                <tr>
                  <td [ngStyle]="{fontSize:'12px'}"><span *ngIf="class.min!=0 && class.max!=0">{{class.min}} - {{class.max}}</span><span>({{class.count}}) ({{class.percentage}})</span>
                  </td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-xs-1 eye-container">
          <a (click)="toggleLayerView(legend,'normal')" *ngIf="!legend.hidden" style="margin-left:-6px!important;"><i
            class="fa fa-eye"></i></a>
          <a (click)="toggleLayerView(legend,'normal')" *ngIf="legend.hidden" [ngClass]="{pinned: legend.hidden}"
             style="margin-left:-6px!important;"><i class="fa fa-eye-slash"></i></a>
        </div>
      </div>
    </div>
    <div class="row"></div>
  </div>
</div>
