<div class="container-fluid not_in_report">
  <nav class="navbar navbar-default"
       style='height: 120px;background-size: contain;background-image: url("http://who-dev.essi.upc.edu:8081/api/documents/tiGoso5xIzq/data");'>
    <!--<img src="assets/img/background.svg" />-->
    <div class="container-fluid">
      <img src="https://seeklogo.com/images/W/WHO_World_Health_Organization-logo-18D6B3AFE7-seeklogo.com.png"
           class="pull-right" style="width:300px;margin-right: 15px;margin-top: 10px;">
      <div class="navbar-header">
        <h4 style="color:white;font-size: 40px;font-weight:bold;line-height: 90px;">NATIONAL HEALTH WORKFORCE ACCOUNTS
          ONLINE PORTAL</h4>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-default navbar-light">

    <ul class="nav navbar-nav navbar-left" style="margin-top: 4px; margin-right: 4px;">
      <li *ngFor="let dashboard of dashboards" routerLinkActive="active"><a [routerLink]="['dashboard',dashboard.id]"><i
        class="fa fa-home"></i> {{dashboard.name}}</a></li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
<div class="container-fluid not_in_report">
  <nav class="navbar navbar-default"
       style='height: 150px;background-size: contain;margin-top: 20px;background-image: url("http://who-dev.essi.upc.edu:8081/api/documents/eNxEJ3GIYHf/data");'>
    <div class="container-fluid">
      <div class="">
      </div>
    </div>
  </nav>
</div>
