<div *ngIf="authorities">
  <div *ngIf="authorities.indexOf('M_dhis-web-dataentry') > -1 || authorities.indexOf('ALL') > -1" class="col-sm-8">
    <app-loader *ngIf="loading" [loadingMessage]="'Loading Water Points into view...'"></app-loader>
    <app-message *ngIf="loadingError && !loading" [type]="'danger'" [messageObject]="loadingError">
    </app-message>
    <div class="panel panel-default" *ngIf="!loading && !loadingError">
      <div class="panel-body">
        <ol class="breadcrumb">
          <li *ngFor="let ancestor of organisationUnit.ancestors" class="breadcrumb-item active"><a
            [routerLink]="['/data-entry','orgUnit',ancestor.id]"
          >{{ancestor.name}}</a></li>
          <li class="breadcrumb-item active">{{organisationUnit.name}}</li>
        </ol>
      </div>
      <div class="panel-body">
        <h4>
          {{organisationUnit.name}} Details
        </h4>
        <h5 class="card-subtitle text-muted">Total Number of Water Points: {{totalWaterPoints}}
        </h5>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <div *ngIf="organisationUnit.children" class="input-group-lg">
              <input type="text" class="form-control"
                     [(ngModel)]="searchText" (ngModelChange)="search($event)" placeholder="Search for..."/>
            </div>
          </div>
          <div class="col-lg-4 col-sm-8">
            <div class="col-sm-12" style="height:46px"
                 tooltip="Completeness is calculated by the number of water points with data entered divide by the number of total water point">
              <div class="col-sm-12 key-head">
                Water point completeness status
              </div>
              <div class="col-sm-4 red key">
                0% - 39%
              </div>
              <div class="col-sm-4 yellow key">
                40% - 80%
              </div>
              <div class="col-sm-4 green key">
                81% - 100%
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-4">
            <div class="btn-group pull-right" role="group">
              <button tooltip="Create New Water Point"
                      *ngIf="!readonly && organisationUnit.level == waterPointParentLevel - 1 && (authorities.indexOf('ALL') > -1 || authorities.indexOf('F_ORGANISATIONUNIT_ADD') > -1)"
                      [routerLink]="['/data-entry','orgUnit',id,'waterPoint','new']" class="btn btn-primary btn-lg">
                <i class="fa fa-plus" aria-hidden="true"> </i></button>
              <!--<button *ngIf="readonly" tooltip="Download CSV" class="btn btn-primary btn-lg" (click)="download()"><i class="fa fa-download" aria-hidden="true"> </i></button>-->
              <div *ngIf="readonly" class="btn-group" dropdown>
                <button dropdownToggle type="button" class="btn btn-primary btn-lg dropdown-toggle">
                  <i class="fa fa-download" aria-hidden="true"> </i>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                  <li *ngIf="level == waterPointParentLevel"><a class="dropdown-item" href="/api/sqlViews/SM8ExBY51Ph/data.csv{{urlAddition}}">Download Water Points</a>
                  </li>
                  <li *ngIf="level != waterPointParentLevel"><a class="dropdown-item" (click)="download()">Download {{nextLevel.name}}</a>
                  </li>
                  <li><a class="dropdown-item" href="/api/sqlViews/ZUl4w8svGeN/data.csv?var=orgunitid:{{id}}">Download Villages With No Water Points</a>
                  </li>
                  <!--<li class="divider dropdown-divider"></li>
                  <li role="menuitem"><a class="dropdown-item" href="/api/sqlViews/frQwwuGtELy/data.xls">Download Users</a>
                  </li>-->
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="downloadLoad">

        </div>
        <app-loader *ngIf="downloadLoad" [loadingMessage]="'Please be patient. Downloading CSV...'"></app-loader>
        <div *ngIf="downloadError" class="alert alert-danger" role="alert">
          <h4 class="alert-heading">Oh snap!</h4>
          Try downloading again.
        </div>
        <br/>
        <table *ngIf="level == waterPointParentLevel"
               class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th (click)="changeOrder('name')">Name</th>
            <th (click)="changeOrder('code')">Code</th>
            <th (click)="changeOrder('completeness')">Project</th>
            <th>Basin</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody *ngIf="!loadPaging">
          <tr tooltip="Click to see/edit details of {{child.name}}"
              *ngFor="let child of organisationUnit.children | orderBy: selectedOrder;let i = index"
              (click)="openWaterPoint(child)">
            <th scope="row">{{((((pager.page?pager.page:1)-1) * pager.pageSize) + 1) + i}}</th>
            <td>{{child.name}}</td>
            <td>{{child.code}}</td>
            <td>{{child | attribute:"Project Name"}}</td>
            <td>{{child | attribute:"Basin"}}</td>
            <td
              [ngClass]="{'red':child.completeness < 40,'yellow':child.completeness >= 40 && child.completeness <= 80,'green':child.completeness > 80,'loadcolor': !child.status}">
            <span
              *ngIf="child.completeness != 'loading' && child.status == 'loaded'">{{child.completeness.toFixed(1)}}%</span>
              <span *ngIf="!child.status">Loading...</span>
              <span *ngIf="child.status == 'error'">Error</span>
            </td>
          </tr>
          <tr *ngIf="organisationUnit.children.length == 0">
            <td colspan="6">
              <div class="alert alert-info" role="alert">
                <strong>Heads up!</strong> There is no water point registered in {{organisationUnit.name}}
              </div>
            </td>
          </tr>
          </tbody>
          <tbody>
          <tr *ngIf="loadPaging">
            <td colspan="100%">
              <app-loader [loadingMessage]="'Loading Page into view...'"></app-loader>
            </td>
          </tr>
          </tbody>
        </table>
        <table *ngIf="level != waterPointParentLevel"
               class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th (click)="changeOrder('name')">Name</th>
            <th (click)="changeOrder('code')">Code</th>
            <th (click)="changeOrder('completeness')">Status<span *ngIf="date">(For {{monthNames[date.getMonth()]}} {{date | date: 'yyyy'}})</span>
            </th>
          </tr>
          </thead>
          <tbody *ngIf="!loadPaging">
          <tr tooltip="Click to see details of {{child.name}}"
              *ngFor="let child of organisationUnit.children | orderBy: selectedOrder ;let i = index"
              (click)="open(['../../orgUnit',child.id])">
            <th scope="row">{{((((pager.page?pager.page:1)-1) * pager.pageSize) + 1) + i}}</th>
            <td>{{child.name}}</td>
            <td>{{child.code}}</td>
            <td
              [ngClass]="{'red':child.completeness < 40 || child.status == 'error','yellow':child.completeness >= 40 && child.completeness <= 80,'green':child.completeness > 80,'loadcolor': !child.status}">
            <span
              *ngIf="child.completeness != 'loading' && child.status == 'loaded'">{{(child.completeness.toFixed(1) > 100)?child.completeness.toFixed(1):child.completeness.toFixed(1)}}%</span>
              <span *ngIf="!child.status">Loading...</span>
              <span *ngIf="child.status == 'error'">{{child.statusMessage}}</span>
            </td>
          </tr>
          <tr *ngIf="organisationUnit.children.length == 0 && nextLevel">
            <td colspan="100%">
              <div class="alert alert-info" role="alert">
                <strong>Heads up!</strong> There is no {{nextLevel.name}} registered in
                {{organisationUnit.name}}.Contact administrator if there are missing {{nextLevel.name}}.
              </div>
            </td>
          </tr>

          </tbody>
          <tbody>
          <tr *ngIf="loadPaging">
            <td colspan="100%">
              <app-loader [loadingMessage]="'Loading Page into view...'"></app-loader>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4" style="line-height: 45px;">
            Showing {{(((pager.page?pager.page:1)-1) * pager.pageSize) + 1}} to {{((pager.page?pager.page:1) *
            pager.pageSize) > pager.total?pager.total:((pager.page?pager.page:1) * pager.pageSize)}} of {{pager.total}}
            entries
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="pull-right">
              <pagination [totalItems]="pager.total" [(ngModel)]="pager.page" [itemsPerPage]="pager.pageSize"
                          [maxSize]="5" class="pagination-lg"
                          [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)"></pagination>
              <!--<div style="display:none">
                <pagination-controls (pageChange)="setPage($event)"></pagination-controls>
              </div>-->
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="btn-group pull-right" dropdown>
              <button id="split-button" type="button" class="btn btn-default btn-lg" disabled>Show</button>
              <button type="button" class="btn btn-default dropdown-toggle-split btn-lg" dropdownToggle>
                {{pager.pageSize}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="split-button">
                <li role="menuitem" *ngFor="let selectedPageSize of pageClustering">
                  <a class="dropdown-item"
                     (click)="setPageSize(selectedPageSize.value)">{{selectedPageSize.name}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="panel-body">
        <div class="row">
          <div class="col-sm-6" *ngFor="let dataSet of organisationUnit.dataSets; let i = index;">
            <app-dataset [dataSet]="dataSet" [organisationUnit]="organisationUnit"></app-dataset>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>
<div>
  <div class="col-sm-4">
    <!--<app-water-point (addOrgUnit)="addOrganisationUnit($event)"></app-water-point>-->
    <router-outlet></router-outlet>
  </div>
</div>
